name: Post to Pinterest

on:
  schedule:
    - cron: '30 4 * * *'  # 10:00 AM IST
    - cron: '30 8 * * *'  # 01:30 PM IST (Changed from 08:30 UTC to be more spread)
    - cron: '30 12 * * *' # 06:00 PM IST
    - cron: '30 16 * * *' # 10:00 PM IST (Test)
  workflow_dispatch:
permissions:
  contents: write

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Pinterest script
        env:
          PINTEREST_ACCESS_TOKEN: ${{ secrets.PINTEREST_ACCESS_TOKEN }}
          PINTEREST_BOARD_ID: ${{ secrets.PINTEREST_BOARD_ID }}
        run: python post_to_pinterest.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last_posted_pin.json
          git commit -m "Update state post-pinterest [skip ci]" || echo "No changes to commit"
          git push
